{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^react",
    "^next($|/)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^lib/(.*)$",
    "^hooks/(.*)$",
    "^ui/(.*)$",
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "tailwindFunctions": ["clsx", "cn"]
}
