@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
  border-radius: 12px;
}
